
/*----------Cabeza de pagina---------*/
.header {
    background-color: #333; 
    color: white;
    padding: 20px;
    width: 98%;
    text-align: center;
}


.header-container {
    max-width: 1200px;
    margin: 0 auto;
}

.header h1 {
    font-size: 2em;
    margin-bottom: 20px;
}


.auth-buttons button {
    background-color: #f39c12;
    color: white; 
    padding: 10px 20px;
    margin: 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.auth-buttons button:hover {
    background-color: #e67e22; 
}



/*----------------Contenido---------------------*/
#contenido{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: #919191;
    height: 80%;
    width: 100.1%;

}


#ContenidoToB{
    position: relative;
    bottom: 10%;
}
#ContenidoP{
    position: relative;
    bottom: 10%;
}

/*-------------------------Pie de pagina----------------------*/
#Foot {
    background-color: #333; 
    color: white; 
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.foot-content {
    max-width: 1200px;
    margin: 0 auto;
}

.Redes-links {
    margin-top: 10px;
}

.Redes-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.Redes-links a:hover {
    color: #f39c12;
}