h3{
    text-align: center;
}
h4{
    text-align: center;
}
body{
    background-color:rgb(53, 53, 53);
}
#Clasica{
    position: relative;
    top: 20px;
    margin-bottom: 200px;
    background-color: rgb(175, 175, 175);
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid black;
    border-radius: 25px 25px 25px 25px;

}
#ContenedorElecciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
}
#ContenedorUsuario{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}
#ContenedorUsuario button{
    width: 100%;
    height: 150px;
    margin: 10px 0px;
    border: none;
    border-radius: 30px 30px 30px 30px;
}
#ContenedorRamdomClasico{
    display: flex;
    width: 15%;
    height: 100px;
    position: relative;
    top: 90px;
}
#Respuesta{
    font-size: 140%;
}


/*---------------------------------------------------------------------------------------------*/
#Nueva{
    margin-bottom: 200px;
    background-color: rgb(175, 175, 175);
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid black;
    border-radius: 25px 25px 25px 25px;

}
#ContenedorRamdomToB{
    display: flex;
    width: 250px;
    height: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ContenedorUsuarioToB{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;

}
#ContenedorUsuarioToB button{
    width: 100%;
    height: 160px;
    margin: 10px 0px;
    border: none;
    border-radius: 30px 30px 30px 30px;
}
#ContenedorRespuestaToB{
    position: relative;
    top: 200px;
}

#Respuesta2{
    font-size: 140%;
}
