body{   
    background: linear-gradient(to bottom, rgb(242, 242, 242), rgb(189, 189, 189), rgb(119, 119, 119));



}

#Contenedor{
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    width: 40%;
    height: 60%;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    margin-top: 5%;
}
h2{
    text-align: center;
}
input{

    width: 85%;
    height: 10%;
    font-size: 110%;
}
button{
    width: 60%;
    height: 5%;
}